main {
      /* margin-left: 0px; Adjusted to account for the sidebar width */
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      
    }

     .Sign-up_container {
        width: 300px;
        padding: 2px;
        height: auto;
        margin-top: 150px;
        margin-left: 600px;
        background-color: aqua;
        position: absolute;
        color: #201818;
        overflow: hidden;
        border-radius: 5% 25%;
        text-align: center;
        transition: margin-left 0.75s ease ease-in-out;
    } 
    


    input {
      border: none;
      background-color: #e3e7ef;
      padding: 10px;
      color: rgba(76, 13, 223, 0.904);
      border-radius: 10px;
      width: 90%;
      margin: 20px;
     
    }

    button {
      background: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      margin: 0px 10px;
      border-radius: 5px;
      width: auto;
      
    }